body{
	background: #00ecf7
}

h1{
	text-align: center;
	color:  #0000FF;
	font-size: 50px;
}

h2{
	text-align: center;
	color: #0000FF;
	font-size: 30px;
}

#presencas{
	width: 30%;
}

#primeirotri2ano{
	width: 10%;
}